In [1]:
import pandas as pd

data contains gini for each country and each year, needs to be condensed to show average gini for every country over each year

In [2]:
gini_df = pd.read_csv("../Data/Do_Not_Edit/UNdata_Export.csv")
gini_df.head()

  Country or Area  Year  Value  Value Footnotes
0         Albania  2020   29.4              1.0
1         Albania  2019   30.1              1.0
2         Albania  2018   30.1              1.0
3         Albania  2017   33.1              1.0
4         Albania  2016   33.7              1.0

Here values are grouped by each year and an average global gini is created from the mean

In [3]:
avg_global_gini_df = gini_df.groupby(['Year'])['Value'].mean().reset_index()
avg_global_gini_df['Year'] = pd.to_numeric(avg_global_gini_df['Year'], errors='coerce') 
avg_global_gini_df = avg_global_gini_df.dropna(subset=['Year']) 
avg_global_gini_df.columns = ["Year","GlobalGini"]
avg_global_gini_df.head()

     Year  GlobalGini
0  1963.0        37.6
1  1964.0        38.1
2  1965.0        37.5
3  1966.0        37.8
4  1967.0        36.9

Saving as CSV

In [4]:
avg_global_gini_df.to_csv("../Data/AverageGlobalGini.csv")